<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico" />
    <link rel="manifest" href="<%= webpackConfig.output.publicPath %>manifest.json" />
    <link rel="manifest" href="/manifest.json" />

    <!-- apple -->
    <link rel="apple-touch-icon" href="/images/icon-192.png">
    <link rel="apple-touch-startup-image" href="/images/icon-192.png">
    <meta name="apple-mobile-web-app-title" content="Coffee">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <link href="/images/icon-192.png" sizes="2048x2732" rel="apple-touch-startup-image" />
    <link href="/images/icon-192.png" sizes="1668x2224" rel="apple-touch-startup-image" />
    <link href="/images/icon-192.png" sizes="1536x2048" rel="apple-touch-startup-image" />
    <link href="/images/icon-192.png" sizes="1125x2436" rel="apple-touch-startup-image" />
    <link href="/images/icon-192.png" sizes="1242x2208" rel="apple-touch-startup-image" />
    <link href="/images/icon-192.png" sizes="750x1334" rel="apple-touch-startup-image" />
    <link href="/images/icon-192.png" sizes="640x1136" rel="apple-touch-startup-image" />

    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <title>Coffee</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but whoisbuyingthenextcoffee-2 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
