<template>
  <div id="home">
    <confetti :class="showConfetti ? 'showConfetti' : ''"/>
    <i class="el-icon-setting" @click="dialogVisible = true"/>
    <!-- User popup -->
    <el-dialog :visible.sync="dialogVisible" :fullscreen="true" title="Update users" width="100%">
      <table
        class="el-table el-table--fit el-table--enable-row-hover el-table--enable-row-transition"
        style="width: 100%;"
      >
        <tr>
          <td align="left">Name</td>
          <td align="left">Email</td>
          <td>AM</td>
          <td>PM</td>
        </tr>
        <tr v-for="item in users" :key="item.id">
          <td>
            <el-input v-model="item.name" placeholder="Name"/>
          </td>
          <td>
            <el-input v-model="item.email" placeholder="Email"/>
          </td>
          <td>
            <el-switch v-model="item.default.morning"/>
          </td>
          <td>
            <el-switch v-model="item.default.afternoon"/>
          </td>
        </tr>
        <tr v-for="item in newUsers" :key="item.id">
          <td>
            <el-input v-model="item.name" placeholder="Name"/>
          </td>
          <td>
            <el-input v-model="item.email" placeholder="Email"/>
          </td>
          <td>
            <el-switch v-model="item.default.morning"/>
          </td>
          <td>
            <el-switch v-model="item.default.afternoon"/>
          </td>
        </tr>
      </table>

      <span slot="footer" class="dialog-footer">
        <el-button-group>
          <el-button type="success" icon="el-icon-plus" @click.prevent="addNewUser()">Add New User</el-button>
          <el-button type="danger" icon="el-icon-close" @click="dialogCancel()">Cancel</el-button>
          <el-button type="primary" icon="el-icon-check" @click.prevent="dialogConfirm()">Confirm</el-button>
        </el-button-group>
      </span>
    </el-dialog>

    <!-- Mugs -->
    <coffee/>

    <!-- Steps -->
    <h1>Step 1</h1>
    <p>Who is getting coffee</p>
    <el-container v-loading="loading.page" class="container--list">
      <el-col>
        <el-checkbox-group v-model="checkedUsersEmail" @change="handleCheckedUsersEmailChange">
          <span v-for="item in users" :key="item.id">
            <el-tooltip
              :content="`${item.ratio ? 'Ratio: ' + item.ratio : 'No ratio'}`"
              placement="top"
            >
              <el-checkbox
                :label="item.email"
                :class="item.name"
                :checked="
                  formatDate(new Date(), 'a') === 'am'
                    ? item.default.morning
                    : item.default.afternoon
                "
                border
                size="large"
              >{{ item.name }}</el-checkbox>
            </el-tooltip>
          </span>
        </el-checkbox-group>
      </el-col>
    </el-container>

    <h1>Step 2</h1>
    <p>Who paid for it?</p>
    <el-container>
      <el-col>
        <el-select
          v-model="purchaser"
          :disabled="currentPurchaser ? false : true"
          placeholder="Purchaser"
        >
          <el-option
            v-for="item in users"
            :key="item.id"
            :label="item.name"
            :value="item.email"
            :disabled="
              lodashIncludes(checkedUsersEmail, item.email) ? false : true
            "
          />
          <el-option :value="null" label="Free Coffee"/>
        </el-select>
      </el-col>
    </el-container>
    <br>
    <el-button
      :loading="loading.postCoffee"
      :disabled="
        !currentPurchaser ? true : checkedUsersEmail.length > 1 ? false : true
      "
      type="primary"
      @click="postCoffee"
    >This person paid</el-button>
    <small v-if="lastUpdated">{{ lastUpdated }}</small>

    <!-- User data -->
    <h1>User info</h1>
    <pie-chart v-if="chartDataMooches" :donut="true" :data="chartDataMooches" label="Mooches"/>
    <pie-chart v-if="chartDataTotal" :donut="true" :data="chartDataTotal" label="Coffees"/>
    <el-table :data="users" style="width: 100%;">
      <el-table-column align="center" prop="name" label="👨‍💻"/>
      <el-table-column align="center" label="⏰">
        <template slot-scope="scope">
          <span>{{ formatDate(scope.row.last_purchase_at, 'D[/]M H[:]mm') }}</span>
        </template>
      </el-table-column>
      <el-table-column align="center" prop="totals.handouts" label="🖐"/>
      <el-table-column align="center" prop="totals.mooches" label label-class-name="moocher"/>
    </el-table>
  </div>
</template>

<script>
import { format } from 'date-fns'
import orderBy from 'lodash/orderBy'
import minBy from 'lodash/minBy'
import head from 'lodash/head'
import includes from 'lodash/includes'

import coffee from '@/components/Coffee.vue'
import confetti from '@/components/Confetti.vue'

import Coffee from '@/api/Coffee'

export default {
  components: {
    coffee,
    confetti,
  },
  data() {
    return {
      currentPurchaser: null, // Selected purchaser (Obj)
      purchaser: null, // Selected purchaser (Str:email)
      users: [], // Current user list with full details
      newUsers: [], // Current user list with full details
      checkedUsersEmail: [], // Array of currently checked users
      checkedUsersEmailDefault: [], // Default list of checked users
      error: null, // error to pass to component
      lastUpdated: '', // date of last updated
      dialogVisible: false, // show or hide settings
      showConfetti: false, // show or hide confetti
      chartDataMooches: [],
      chartDataTotal: [],
      loading: {
        page: true,
        postCoffee: false,
      },
    }
  },
  mounted() {
    // Once page is mounted, grab users
    this.hydrateUsers()
  },
  methods: {
    postCoffee() {
      this.loading.postCoffee = true
      // Post coffee to api
      Coffee.postCoffee(this.purchaser, this.checkedUsersEmail)
        .catch(error => {
          // report error
          this.error = console.error(error) // eslint-disable-line
          const h = this.$createElement
          this.$notify.error({
            title: 'Error!',
            message: h('i', {}, 'Submission failed, check console logs'),
          })
        })
        .then(response => {
          // Update usernotification to make sure the person paying gets the credit
          var UserNotification = this.users.find(obj => {
            if (obj.email === this.purchaser) {
              return obj.name
            }
          })
          // turn off loader
          this.loading.postCoffee = false
          // clear checked users to prevent double submit
          this.checkedUsersEmail = []
          // send notification
          const h = this.$createElement
          if (this.purchaser == null) {
            this.showConfetti = true
            // Good ol safari
            var resizeEvent = new Event('resize')
            window.dispatchEvent(resizeEvent)
            setTimeout(() => {
              this.showConfetti = false
            }, 5000)
          }
          this.$notify({
            title: 'Coffee submitted!',
            message: h(
              'i',
              {},
              this.purchaser == null
                ? 'Sweet, free coffee!'
                : 'Thanks for the coffee ' + UserNotification.name
            ),
            type: 'success',
          })
          // show last updated text
          if (this.lastUpdated && response.length > 0) {
            this.lastUpdated = this.formatDate(
              response.updated_at,
              '[Last coffee paid for on ] dddd Do MMMM [at] H[:]mma'
            )
          }
        })
        .then(() => {
          this.hydrateUsers() // fetch users to make sure new data is legit
        })
    },
    handleCheckedUsersEmailChange() {
      // Select box with the first user, sorted by lodash in hydrateUsers()
      let tempPurchaser = []
      this.users.forEach(user => {
        if (this.checkedUsersEmail.includes(user.email)) {
          tempPurchaser.push(user.email)
        }
      })
      this.purchaser = head(tempPurchaser)
    },
    dialogCancel() {
      // Close dialogue box, clear new users if it was a cancel
      this.dialogVisible = false
      this.newUsers = []
    },
    dialogConfirm() {
      // take new users and add them to users
      if (this.newUsers.length >= 1) {
        this.newUsers.forEach(newUser => {
          this.users.unshift(newUser)
        })
      }
      this.users.forEach(user => {
        if (user.id) {
          // if they have an id they already exist so send update
          Coffee.updateUsers(user)
        }
      })
      this.handleCheckedUsersEmailChange()
      this.dialogVisible = false
    },
    addNewUser() {
      // add new user to Array of Objects
      this.newUsers.push({
        name: '',
        email: '',
        default: {
          afternoon: true,
          morning: true,
        },
      })
    },
    formatDate(date, text) {
      return format(date, text)
    },
    hydrateUsers() {
      // get fresh user data and update charts
      Coffee.getUsers()
        .catch(error => console.error('Error:', error)) // eslint-disable-line
        .then(response => {
          this.loading.page = false
          this.users = orderBy(
            // Sort and assign to this.users
            response,
            function(source) {
              return source.ratio
            },
            'desc'
          )
          this.currentPurchaser = minBy(
            // find smallest ratio and apply to this.currentPurchaser
            this.users,
            function(source) {
              return source.ratio
            }
          )
          let tempCheckedUser = []
          this.users.filter(element => {
            // set first user that is based on am/pm
            if (
              element.default.morning === true &&
              this.formatDate(new Date(), 'a') === 'am'
            ) {
              tempCheckedUser.push(element.email)
            }
            if (
              element.default.afternoon === true &&
              this.formatDate(new Date(), 'a') === 'pm'
            ) {
              tempCheckedUser.push(element.email)
            }
          })

          this.purchaser = head(tempCheckedUser)
          if (this.lastUpdated && response.length > 0) {
            this.lastUpdated = this.formatDate(
              response.updated_at,
              '[Last coffee paid for on ] dddd Do MMMM [at] H[:]mma'
            )
          }

          let chartTempMooch = [] // init mooch chart
          let chartTempTotal = [] // init total chart
          this.users.forEach(element => {
            chartTempMooch.push([element.name, element.totals.mooches])
            chartTempTotal.push([element.name, element.totals.coffees])
          })
          this.chartDataMooches = chartTempMooch
          this.chartDataTotal = chartTempTotal
        })
    },
    lodashIncludes(item1, item2) {
      return includes(item1, item2)
    },
  },
}
</script>

<style lang="scss">
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
}
*,
:after,
:before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}
body {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
#home {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  font-size: 20px;
  width: 100%;
  padding: 30px 0 50px;
  overflow-x: hidden;
}

h1,
h2 {
  font-weight: normal;
  margin: 15px 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 0 10px;
}

a {
  color: #42b983;
}

canvas {
  transition: opacity 0.5s;
  opacity: 0;
  &.showConfetti {
    opacity: 1;
  }
}

.name {
  font-weight: bold;
  text-transform: capitalize;
}
button {
  &:hover {
    cursor: pointer;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
.el-icon-setting {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  &:hover {
    cursor: pointer;
  }
}
.el-dialog {
  text-align: left;
  .el-table td {
    border: 0;
  }
  @media only screen and (max-width: 600px) {
    .el-table tr {
      td {
        padding: 5px;
        &:first-of-type {
          padding-left: 0;
        }
        &:last-of-type {
          padding-right: 0;
        }
      }
    }
    .el-button {
      width: 100%;
      margin-bottom: 10px;
    }
  }
}
.el-select-dropdown__item,
.el-notification {
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 300;
}
.el-checkbox {
  margin: 0 10px 10px 10px;
}
.el-checkbox__label,
.el-select-dropdown__item,
.currentPurchaser {
  text-transform: capitalize;
}

.currentPurchaser {
  font-weight: bold;
}
small {
  display: block;
  font-size: 12px;
  margin: 15px;
}

.el-table {
  font-size: 12px;
  text-align: center;
}
.el-col {
  margin-bottom: 20px;
}
.el-tooltip__popper {
  font-size: 12px;
  font-family: 'Roboto', 'Avenir', Helvetica, Arial, sans-serif;
}
.el-table__header-wrapper {
  .cell.moocher {
    background: url('~/images/mooch.png') no-repeat center center;
    background-size: contain;
    min-height: 30px;
  }
  th > .cell {
    font-size: 20px;
  }
}
.container--list {
  min-height: 45px;
}
</style>
