<template>
  <div
    v-if="coffees"
    :style="
      `background-image:url('${
        coffees[Math.floor(Math.random() * coffees.length)]
      }');`
    "
    class="coffees"
  />
</template>

<script>
export default {
  name: 'Coffee',
  data() {
    return {
      coffees: [
        'https://i.imgur.com/bkK0o8P.gif',
        'https://i.imgur.com/NFxTNvG.gif',
        'https://i.imgur.com/2eI08sC.gif',
        'https://i.imgur.com/Vp35k9M.gif',
        'https://i.imgur.com/jSLePKo.gif',
        'https://i.imgur.com/rsrnJ1o.gif',
        'https://i.imgur.com/5nnrYvC.gif',
        'https://i.imgur.com/NrFyJ7f.gif',
        'https://i.imgur.com/UrRf2x9.gif',
      ],
    }
  },
}
</script>

<style lang="scss" scoped>
.coffees {
  width: 100px;
  height: 100px;
  margin: auto;
  background-size: cover;
}
</style>
